version: '3.9'
services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: stock_screener
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - '5432:5432'

  redis:
    image: redis:7
    ports:
      - '6379:6379'
